$mainWidth: 100vw;

main {
    background-image: url(../assets/sky.jpg);
    width: $mainWidth;
    height: 100vh;
    .div {
        width: $mainWidth;
        height: 95px;
        font-size: 40px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-weight: bolder;
        color: darkseagreen;
        text-align: center;
        .span {
            color: khaki;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
    }
}

