<main>
    <section class="section">Заповніть дані лота для внесення до каталогу товарів або йдіть на <a routerLink="" class="toMain">ГОЛОВНУ СТОРІНКУ</a></section>
    <section class="boxForInput">
        <div class="div">Назва</div>
        <input #name (input)="validationName(name)" class="input" [class.validation]="booleanFormName" type="text">
        <div class="div2" [class.attention]="booleanFormName">використовуйте літери і пробіли</div>
    </section>
    <section class="boxForInput">
        <div class="div">Опис</div>
        <input #description (input)="validationDescription(description)" class="input" [class.validation]="booleanFormDescription" type="text">
        <div class="div2" [class.attention]="booleanFormDescription">використовуйте літери, цифри та пробіли</div>
    </section>
    <section class="boxForInput">
        <div class="div">Ціна</div>
        <input #price (input)="validationPrice(price)" class="input" [class.validation]="booleanFormPrice" type="text">
        <div class="div2" [class.attention]="booleanFormPrice">використовуйте лише цифри</div>
    </section>
    <section class="boxForInput">
        <div class="div">Зображення</div>
        <input #picture (input)="validationPicture(picture)" class="input" [class.validation]="booleanFormPicture" type="text">
        <div class="div2" [class.attention]="booleanFormPicture">укажіть назву картинки в assets/showcase</div>
    </section>
    <button class="button" (click)="sendForm(name,description,price,picture)" [class.boxShadow]="booleanAdmin">додати</button>
    <section class="allAddLots">
        <div *ngFor="let item of arrayMain; let i = index" class="miniList"  [style.backgroundImage]="imageLot(item)">
            <div class="nameLotStyle">{{ nameRender(item) }}</div>
            <button class="removeLots" (click)="deleteLot(i)">×</button>
        </div>
    </section> 
</main>


