<main>
    <section class="section">Заповніть дані лота для внесення<br>до каталогу товарів</section>
    <div class="div first">Назва</div><input #name (input)="validationName(name)" class="input first" [class.validation]="booleanFormName" type="text"><div class="div2" [class.attention]="booleanFormName">використовуйте літери і пробіли</div>
    <div class="div second">Опис</div><input #description (input)="validationDescription(description)" class="input second" [class.validation]="booleanFormDescription" type="text"><div class="div2 second" [class.attention]="booleanFormDescription">використовуйте літери, цифри та пробіли</div>
    <div class="div third">Ціна</div><input #price (input)="validationPrice(price)" class="input third" [class.validation]="booleanFormPrice" type="text"><div class="div2 third" [class.attention]="booleanFormPrice">використовуйте лише цифри</div>
    <div class="div fourth">Зображення</div><input #picture (input)="validationPicture(picture)" class="input fourth" [class.validation]="booleanFormPicture" type="text"><div class="div2 fourth" [class.attention]="booleanFormPicture">укажіть назву картинки в директорії assets</div>
    <button class="button" (click)="sendForm(name,description,price,picture)" [class.boxShadow]="booleanAdmin">додати</button>
    <section class="allAddLots">
        <div *ngFor="let item of arrayMain; let i = index" class="miniList"  [style.backgroundImage]="imageLot(item)">
            <div class="nameLotStyle">{{ nameRender(item) }}</div>
            <button class="removeLots" (click)="deleteLot(i)">×</button>
        </div>
    </section> 
</main>


